<div class="chat-head">
  chatroom-name
  <a class="chat-end-btn">チャットを終了する</a>
</div>
<div class="chat-main">
  <div class="message-wrapper">
    <div class="message-head">
      <div class="poster-name">Tom</div>
      <div class="posted-date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message-wrapper">
    <div class="message-head">
      <div class="poster-name">Ham</div>
      <div class="posted-date">2020/3/31(Wed) 23:45:06</div>
    </div>
    <p class="message-text">おなかすいた</p>
  </div>
</div>
<div class="chat-bottom">
  <form class="chat-form">
    <div class="chat-input-area">
      <input type="text" class="chat-bottom-text" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" class="chat-submit-btn" value="送信">
  </form>
</div>