<div class="chat-head">
  chatroom-name
  <a class="chat-end-btn">チャットを終了する</a>
</div>
<div class="chat-main">
  <div class="message-wrapper">
    <div class="message-head">
      <div class="poster-name">Tom</div>
      <div class="posted-date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message-wrapper">
    <div class="message-head">
      <div class="poster-name">Ham</div>
      <div class="posted-date">2020/3/31(Wed) 23:45:06</div>
    </div>
    <p class="message-text">おなかすいた</p>
  </div>
</div>
<div class="chat-bottom">
  <%= form_with model: [@room, @message], class: 'chat-input-area', local: true do |f| %>
    <%= f.text_field :content, class: 'chat-bottom-text', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
    <%= f.submit '送信', class: 'chat-submit-btn' %>
  <% end %>
</div>