  <div class="message-wrapper">
    <div class="message-head">
      <div class="poster-name">
        <%= message.user.name %>
      </div>
      <div class="posted-date">
        <%= l message.updated_at %>
      </div>
    </div>
    <p class="message-text">
      <%= message.content %>
    </p>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
