<div class="sidebar-head">
  <%= link_to current_user.name, edit_user_path(current_user), {class: "sidebar-name"} %>
  <a class="chat-create-btn", href="#">チャットを作成する</a>
</div>
<div class="sidebar-rooms">
  <div class="room-name-wrapper">
    <a class="room-name" href="#">ルーム１</a>
  </div>
    <div class="room-name-wrapper">
    <a class="room-name" href="#">ルーム2</a>
  </div>
  <div class="room-name-wrapper">
    <a class="room-name" href="#">ルーム3</a>
  </div>

</div>