<div class="sidebar-head">
  <%= link_to current_user.name, edit_user_path(current_user), {class: "sidebar-name"} %>
  <%= link_to 'チャットを作成する', new_room_path, class: "chat-create-btn" %>
</div>
<div class="sidebar-rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room-name-wrapper">
      <%= link_to room.name, "#", class: "room-name" %>
    </div>
  <% end %>
</div>