/******サイドバー******/
.sidebar-wrapper {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
}

.sidebar-name {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.chat-create-btn {
  padding: 14px;
  border: lightblue 1px solid;
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
}

.sidebar-rooms {
  height: calc(100% - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
  overflow-y: auto;
}

.room-name-wrapper {
  margin: 20px 0 40px;
}

.room-name {
  color: white;
  text-decoration: none;
}

/*******チャット画面*******/
.chat-wrapper {
  height: 100vh;
  width: calc(100vw - 300px);
}

.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  background-color: #ffffff;
  font-size: 24px;
  color: #333;
}

.chat-end-btn {
  padding: 20px;
  border: darkred 1px solid;
  color: darkred;
  font-size: 12px;
  text-decoration: none;
}

.chat-main {
  height: calc(100% - 100px - 90px);
  padding: 46px 40px 0;
  background-color: #fafafa;
  overflow-y: auto;
}

.message-wrapper {
  text-align: left;
}

.message-head {
  display: flex;
  margin: 10px 0px;
}

.poster-name {
  margin-right: 10px;
  font-size: 16px;
  color: #434a54;
}

.posted-date {
  font-size: 12px;
  color: #999;
}

.message-text {
  margin-bottom: 30px;
  font-size: 14px;
  color: #434a54;
}

.chat-bottom {
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
}

.chat-form {
  display: flex;
}

.chat-input-area {
  display: flex;
  width: 100%;
  margin-right: 15px;
  background-color: white;
}

.chat-bottom-text {
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
}

.chat-submit-btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}